.img1 {
  width: 100%;
}

.header {
  margin-top: 10rem;
  padding: 7.5rem;
  font-size: 4.8rem;
  color: var(--color-primary-lighter);
  font-weight: 800;
  line-height: 114px;
}

.container {
  padding: 7.5rem;
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  max-width: 156rem;
  margin: 0 auto;
}

.iconsContainer {
  display: grid;
  grid-template-columns: repeat(2, 29rem);
  grid-template-rows: repeat(2, 24rem);
}

.iconContained {
  /* background-color: #ffdd; */
  width: 20rem;
}

.primaryText {
  margin-top: 1.3rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 22.2px;
  color: var(--color-primary-lighter);
}

.secondaryText {
  margin-top: 1.3rem;
  font-size: 2rem;
  font-weight: 400;
  line-height: 22.2px;
  color: var(--color-black);
}

/* img */
.imgContainer img {
  width: 100%;
}

/* Pop out section */
.popOutContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  margin-top: -9%;
  margin-left: 20%;
  height: 19.3rem;
  width: 81.2rem;
  background-color: rgba(218, 245, 255, 1);
  border-radius: 20px;
  padding: 3rem;
}

.popOutHeader {
  font-weight: 800;
  color: var(--color-font-light);
  line-height: 33px;
  padding: 1.4rem 2.3rem 1.4rem 8.794rem;
  border-radius: 10px;
  background-color: rgba(0, 114, 156, 1);
  align-self: self-end;
}

.popOutHeader h2 {
  font-size: 2.4rem;
}

.popOutSecondary {
}

.popOutSecondary h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: rgba(0, 114, 156, 1);
}

@media (max-width: 107em) {
  .popOutContainer {
    margin-top: -11%;
    margin-left: 20%;
  }
}

@media (max-width: 92.5em) {
  .imgContainer img {
    width: 85%;
  }

  .container {
    padding: 7.5rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    max-width: 156rem;
    margin: 0 auto;
    gap: 2rem;
  }

  .iconsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 5rem;
    column-gap: 2rem;
  }
}

@media (max-width: 78.75em) {
  .header {
    font-size: 4.8rem;
    text-align: center;
  }

  .container {
    padding: 7.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 156rem;
    margin: 0 auto;
    gap: 8rem;
  }

  .imgContainer img {
    width: 90%;
  }
  .popOutContainer {
    margin-top: -11%;
    margin-left: 17%;
  }
}

@media (max-width: 56.25em) {
  .popOutContainer {
    margin-top: -12%;
    margin-left: 7%;
  }
}

@media (max-width: 53.75em) {
  .popOutContainer {
    margin-top: -12%;
    margin-left: 5%;
    height: 19.3rem;
    width: 81.2rem;
    padding: 3rem;
  }
}

@media (max-width: 48em) {
  .popOutContainer {
    margin-top: -12%;
    margin-left: 7%;
    height: 19.3rem;
    width: 66rem;
    padding: 3rem;
  }
}

@media (max-width: 40.625em) {
  .popOutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    height: 19.3rem;
    width: fit-content;
    background-color: rgba(218, 245, 255, 1);
    border-radius: 20px;
    padding: 3rem;
  }
}
@media (max-width: 40.625em) {
  .iconsContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 5rem;
    column-gap: 2rem;
    text-align: center;
  }
}

@media (max-width: 28.75em) {
  .header {
    font-size: 4.8rem;
    text-align: center;
    line-height: 53px;
  }
}
