.container {
  background-color: var(--color-font-light);
  height: 44.8rem;
  width: 107rem;
  margin: 0 auto;
  box-shadow: 0px -30px 47.400001525878906px -13px rgba(0, 0, 0, 0.1);
  border-radius: 3rem 3rem 0 0;
}

.topTextContainer {
  display: flex;
  justify-content: space-between;
  padding: 3.4rem 6.7rem;
}

.topText1 {
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--color-btn);
  line-height: 4.536rem;
}

.topText2 {
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--color-primary);
  line-height: 4.536rem;
}

.bottomTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 3.4rem 8.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 32.6px;
  color: var(--color-black);
  width: 70rem;
}
