.container {
  background-color: var(--color-font-light);
  height: 44.8rem;
  /* width: 107rem; */
  width: 50%;
  margin: 0 auto;
  box-shadow: 0px -30px 47.400001525878906px -13px rgba(0, 0, 0, 0.1);
  border-radius: 3rem 3rem 0 0;
}

.topTextContainer {
  display: flex;
  justify-content: space-between;
  padding: 3.4rem 6.7rem;
}

.topText1 {
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--color-btn);
  line-height: 4.536rem;
}

.topText2:link,
.topText2:visited {
  font-size: 3.6rem;
  font-weight: 800;
  color: var(--color-primary);
  line-height: 4.536rem;

  text-decoration: none;
}

.bottomTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 3.4rem 8.7rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 32.6px;
  color: var(--color-black);
  width: 70rem;
}

/* media queries */
@media (max-width: 90em) {
  .container {
    width: 50%;
  }

  .topText1 {
    font-size: 3.3rem;
    font-weight: 800;
    color: var(--color-btn);
    line-height: 4.536rem;
  }

  .topText2:link,
  .topText2:visited {
    font-size: 3.3rem;
  }
}

@media (max-width: 83em) {
  .container {
    width: 59%;
  }

  .topText1 {
    font-size: 3.3rem;
    font-weight: 800;
    color: var(--color-btn);
    line-height: 4.536rem;
  }

  .topText2:link,
  .topText2:visited {
    font-size: 3.3rem;
  }
  .bottomTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.4rem 5.7rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 32.6px;
    color: var(--color-black);
    width: 70rem;
  }
}

@media (max-width: 63.75em) {
  .container {
    width: 70%;
  }

  .topText1 {
    font-size: 3.3rem;
    font-weight: 800;
    color: var(--color-btn);
    line-height: 4.536rem;
  }

  .topText2:link,
  .topText2:visited {
    font-size: 3.3rem;
  }
  .bottomTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.4rem 5.7rem;
    font-size: 2rem;
    font-weight: 300;
    line-height: 32.6px;
    color: var(--color-black);
    width: 70rem;
  }
}

@media (max-width: 53.75em) {
  .container {
    background-color: var(--color-font-light);
    height: 44.8rem;
    /* width: 107rem; */
    width: 75%;
    margin: 0 auto;
    box-shadow: 0px -30px 47.400001525878906px -13px rgba(0, 0, 0, 0.1);
    border-radius: 3rem 3rem 0 0;
    margin-top: 21rem;
  }
}

@media (max-width: 48em) {
  .container {
    background-color: var(--color-font-light);
    height: 44.8rem;
    /* width: 107rem; */
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px -30px 47.400001525878906px -13px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 0;
    margin-top: 0;
  }
}

@media (max-width: 39.375em) {
  .container {
    background-color: var(--color-font-light);
    height: 44.8rem;
    /* width: 107rem; */
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px -30px 47.400001525878906px -13px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 0 0;
    margin-top: 0;
  }

  .topTextContainer {
    display: flex;
    justify-content: space-between;
    padding: 3.4rem 1.7rem;
  }

  .bottomTextContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 2.4rem 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 32.6px;
    color: var(--color-black);
    width: fit-content;
  }
}

@media (max-width: 29.4375em) {
  .topText1 {
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--color-btn);
    line-height: 4.536rem;
  }

  .topText2:link,
  .topText2:visited {
    font-size: 2.6rem;
    font-weight: 800;
    color: var(--color-primary);
    line-height: 4.536rem;

    text-decoration: none;
  }

  .bottomTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2.4rem 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 32.6px;
    color: var(--color-black);
    width: fit-content;
  }
}

@media (max-width: 24.5em) {
  .topText1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-btn);
    line-height: 4.536rem;
  }

  .topText1 img {
    width: 9%;
  }

  .topText2 img {
    width: 9%;
  }

  .topText2:link,
  .topText2:visited {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-primary);
    line-height: 4.536rem;

    text-decoration: none;
  }

  .bottomTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2.4rem 1rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 32.6px;
    color: var(--color-black);
    width: fit-content;
  }
}
