.caroHeader {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 2rem;
}

.caroSubtext {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #000000;
}

.carouselContainer {
  margin-top: 6rem;
  overflow: hidden;
  padding: 0 40px;
  box-sizing: border-box;
}

.carouselCard {
  height: fit-content;
  margin: 0 auto;
  max-width: 40rem;
  /* width: fit-content; */
  /* border: solid 1px #dddd; */
  background-color: #ffff;
  box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.05),
    0 10px 20px rgba(0, 0, 0, 0.08);

  /* for text in the box */

  padding: 3rem;
}

.caroImg {
  width: 100%;
}

.textBox {
  margin-top: 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1rem;
}

.cardHeader {
  font-size: 1.8rem;
  font-weight: 700;
  color: #102542;
  line-height: 27px;
}

.cardSubtext {
  font-size: 1.4rem;
  font-weight: 400;
  color: #666666;
}

.highlight {
  font-size: 1.2rem;
  color: #00719c;
  background-color: #ebf9ff;
  padding: 1rem 2rem;
  border-radius: 999px;
  width: fit-content;
}

/* Mobile */
@media (max-width: 600px) {
  .caroHeader {
    font-size: 2.8rem;
  }

  .caroSubtext {
    font-size: 1.6rem;
  }
}
