.mainSection {
  padding-top: 8rem;
  margin: 0 auto;
  max-width: 128rem;
  padding-bottom: 8rem;
}

.sectionContainer {
  padding-top: 8rem;
  margin: 0 auto;
  max-width: 128rem;
  padding-bottom: 8rem;
}
