.sectionCarousel {
  margin-top: 10rem;
  /* height: 60rem; */
}

.CarouselHeader {
  font-size: 4.8rem;
  font-weight: 800;
  line-height: 114px;
  color: var(--color-primary);
  text-align: center;
}

.carouselContainer {
  padding: 0 3rem;
}

.CarouselComponent {
  text-align: center;
  /* background-color: green; */
  padding: 3rem;
}

.CarouselQoute {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 2rem;
}

.quotedName {
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-black);
  margin-bottom: 2rem;
}

/* queries */
@media (max-width: 108em) {
  .CarouselQoute {
    font-size: 2.1rem;
    font-weight: 500;
    color: var(--color-black);
    margin-bottom: 2rem;
  }
}

@media (max-width: 90em) {
  .CarouselQoute {
    font-size: 1.5rem;
  }
}

/************************************/
/* Below 1200px(Landscape Devices) */
/************************************/
@media (max-width: 75em) {
  .carouselContainer {
    padding: 0 3rem;
  }
}

@media (max-width: 62.5em) {
  .CarouselQoute {
    font-size: 1.2rem;
  }
}

@media (max-width: 53.75em) {
  .CarouselComponent {
    padding: 1rem;
  }

  .CarouselQoute {
    font-size: 1.1rem;
  }
}

@media (max-width: 38.75em) {
  .CarouselComponent {
    padding: 1rem;
  }

  .CarouselQoute {
    font-size: 0.8rem;
  }
}

@media (max-width: 38.75em) {
  .CarouselHeader {
    font-size: 3.8rem;
  }

  .CarouselComponent {
    padding: 1rem;
  }

  .CarouselQoute {
    font-size: 0.6rem;
  }
}

@media (max-width: 28.75em) {
  .CarouselHeader {
    font-size: 2.8rem;
  }
}

@media (max-width: 24em) {
  .CarouselHeader {
    font-size: 2.4rem;
  }

  .CarouselQoute {
    font-size: 0.5rem;
  }
}
