.HeroContainer {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.headerContainer {
  margin-top: 16rem;
}

.heroHeaderPrimary {
  font-size: 8.34rem;
  font-weight: 700;
  color: var(--color-primary);
  line-height: 71px;
  letter-spacing: -0.03em;
}

.heroHeaderSecondary {
  font-size: 3.34rem;
  font-weight: 700;
  color: var(--color-btn);
  line-height: 71px;
  letter-spacing: -0.03em;
}

.heroImg {
  width: 100%;
}

@media (max-width: 48em) {
  .HeroContainer {
    gap: 0;
  }

  .headerContainer {
    margin-top: 10rem;
  }
  .heroHeaderPrimary {
    font-size: 7rem;
  }

  .heroHeaderSecondary {
    font-size: 3rem;
  }
}

@media (max-width: 38.75em) {
  .HeroContainer {
    max-width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: wrap;
  }
  .heroHeaderPrimary {
    font-size: 6.2rem;
  }

  .heroHeaderSecondary {
    font-size: 2.3rem;
  }

  .heroImg {
    width: 100%;
  }
}

@media (max-width: 33.75em) {
  .HeroContainer {
    max-width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    flex-wrap: wrap;
  }
  .heroHeaderPrimary {
    font-size: 5.2rem;
  }

  .heroHeaderSecondary {
    font-size: 2.1rem;
  }

  .heroImg {
    width: 100%;
  }
}

@media (max-width: 28.75em) {
  .heroHeaderPrimary {
    font-size: 3.8rem;
  }

  .heroHeaderSecondary {
    font-size: 1.8rem;
  }

  .heroImg {
    width: 100%;
  }
}

@media (max-width: 24em) {
  .heroHeaderPrimary {
    font-size: 3.4rem;
  }

  .heroHeaderSecondary {
    font-size: 1.4rem;
  }

  .heroImg {
    width: 100%;
  }
}
